body{
    background-color: rgb(255, 214, 221);
    background-image: url(./fundo\ 5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 7%;
    margin-top: 2%;
    
}

.navbar-brand{
    margin: 0px;;

}


.navbar-brand img{
    width: 80px;
    border-radius: 50%;
}


.carousel-item {
  
    height: 50vh;
}

.carousel-item img{
    height:100% ;
    object-position: center;
}

.carousel-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; /* altura do gradiente */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  }
.navbar{
background-color: lightpink;
}

.gato{
    display:flex;
    padding:20px;
    object-position:center;
    justify-content:space-evenly;
}

.lista{
    display:flex;
    padding: 0;
    list-style:none;
    width:100%;
    text-align:left ;
    text-decoration: none;
   justify-content: space-around;
}


.imagens{
    display: flex;
    justify-content:space-evenly;
}

.im3{
    display: flex;
    width: 20%;
    margin: 13px;
}

.im2{
    display: flex;
    width: 20%;
    margin: 13px;
}

.im1{
    display: flex;
    width: 18%;
    margin: 13px;
}

.card2{
    display:flex;
    justify-content:space-evenly ;
    margin-top: 13px;
    
}

.bota{
    display: flex;
    justify-content: center;
}